server:
  port: 8094

management:
  endpoint:
    restart:
      enabled: true

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: placeholder
            client-secret: placeholder
