server:
  port: 0
token: eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJFdGVuZG9SWCBBdXRoIiwiaWF0IjoxNzI4MDY2NzkzLCJhZF91c2VyX2lkIjoiRkIyQUQ3RTI0NUM4NDI5MEI0NUZDMTBDNUU2NEQwQzgiLCJhZF9jbGllbnRfaWQiOiIyM0M1OTU3NUI5Q0Y0NjdDOTYyMDc2MEVCMjU1QjM4OSIsImFkX29yZ19pZCI6IjAiLCJhZF9yb2xlX2lkIjoiNDJEMEVFQjFDNjZGNDk3QTkwREQ1MjZEQzU5N0U2RjAiLCJzZWFyY2hfa2V5IjoiUGV0Q2xpbmljIiwic2VydmljZV9pZCI6IjA3Q0MzOUJBRTQ0NTQ5NDRCQzdEMzE2NTc3QzgyMTREIn0.AXkaC-u9jBmkbdOcYMxXpyNliMFG5uBYCqxTYDYkUn4BmD8mt5_K8OO-cPM4cbYROGwYg3e-iPxEDvNshNtkAf72EhYc1yUjAfu9FXWHCUkFVo-W9godTey9IG5lhGJp-DE84mfzfnWHHfMxAACLrHuNWOhPnWOpEXyhQ7TieAiNo7BHLMxmynxEHplZX8HZ7O0l2W8wz1Dl3oMsVZzyD1A7W1V7XpfMVx0eeYVmOXhTwHNRcLLBX1gmi0ld_fo4m0cMYIvqwuVx9qAn18uwYz9LbB9bBZrwZKtH5lTMhFrf28bB5uLelbIobBXHcuUaVr2BJmmywOIZdFmVMdvGMA

connector:
  instance: EFA263D5E4F6413A951540C96B599B53

bootstrap_server: kafka:9092
async-api-url: http://localhost:8099
spring.kafka.bootstrap-servers: kafka:9092

classic:
  token: eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJzd3MiLCJyb2xlIjoiNDJEMEVFQjFDNjZGNDk3QTkwREQ1MjZEQzU5N0U2RjAiLCJvcmdhbml6YXRpb24iOiI3QkFCQTVGRjgwNDk0Q0FGQTU0REVCRDIyRUM0NkYwMSIsImlzcyI6InN3cyIsImNsaWVudCI6IjIzQzU5NTc1QjlDRjQ2N0M5NjIwNzYwRUIyNTVCMzg5Iiwid2FyZWhvdXNlIjoiOUNGOThBMThCQzc1NEI5OTk5OEU0MjFGOTFDNUZFMTIiLCJ1c2VyIjoiMTAwIiwiaWF0IjoxNzI4MDY2MTY3fQ.59nVQaFDKuC3pgDbcX2e_t6soj1Iqj7v6zKa7ejcdaE